.aside-overly {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 70%;
  bottom: 0;
  background-color: #90caf9e6;
  z-index: 9999;
}

.cross-on-modal {
  position: fixed;
  top: 5.5rem;
  right: 70.5%;
  z-index: 99999;
}

.aside-modal__main {
  position: fixed;
  top: 5rem;
  padding: 3rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  right: 70%;
  z-index: 9999;
  bottom: 0px;
}

.modal__main main {
  width: 100%;
}

.aside-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@supports (--webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .aside-overly {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}
