/* @docs
label: Hidden Attribute
note: |
  Maintain `hidden` behaviour when overriding `display` values.
  category: global
*/

[hidden] {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth !important;
  }
}

#top {
  position: fixed;
  top: 5rem;
}

.nav-on-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
