:root {
  --alice-blue: #e3f2fdff;
  --text-light: #e3f2fdff;
  --bg-light: #e3f2fdff;

  --uranian-blue: #bbdefbff;
  --clr-light-2: #bbdefbff;

  --light-sky-blue: #90caf9ff;
  --clr-light-3: #90caf9ff;

  --blue-jeans: #64b5f6ff;
  --clr-light-4: #64b5f6ff;

  --blue-jeans-2: #42a5f5ff;
  --clr-light-5: #42a5f5ff;

  --dodger-blue: #2196f3ff;
  --clr-dark-5: #2196f3ff;

  --bleu-de-france: #1e88e5ff;
  --clr-dark-4: #1e88e5ff;

  --bright-navy-blue: #1976d2ff;
  --clr-dark-3: #1976d2ff;

  --green-blue: #1565c0ff;
  --clr-dark-2: #1565c0ff;

  --cobalt-blue: #0d47a1ff;
  --bg-dark: #0d47a1ff;
  --text-dark: #0d47a1ff;
}
